<h2>keyword: <%= params[:keyword] %></h2>

<div>
  <%= auction_list.first[:number] %> - <%= auction_list.last[:number] %> / <%= total %>
</div>

<table class="table table-striped">
  <tr>
    <th>#
    <th>auction ID
    <th>タイトル
    <th>出品者
    <th>違反報告
    <th>報告状況
  </tr>
  <tr>
  <% auction_list.each do |hash| %>
    <td><%= hash[:number] %>
    <td><%= hash[:a_id] %>
    <td><%= link_to(hash[:title], hash[:url]) %>
    <td>
      <%= link_to(hash[:user], "/user/#{hash[:user]}") %>
    <td>
      <form method=post action="http://navi<%= hash[:server_number] %>.auctions.yahoo.co.jp/jp/config/review">
	<input type=hidden name=aID value="<%= hash[:a_id] %>">
	<input type=hidden name=rating value="1001">
	<input type=submit value="違反報告" onclick="document.cookie = 'applied_at_<%= hash[:a_id] %>=<%= Time.now %>';">
      </form>
    <td>
      <% if applied_at = request.cookies["applied_at_#{hash[:a_id]}"] %>
      <%= applied_at %>
      <% else %>
      -
      <% end%>
  </tr>
  <% end %>
</table>

<nav>
  <ul class="pagination">
    <% first_number = auction_list.first[:number] %>
    <% current_page = ((first_number - 1) / per_page).to_i + 1 %>
    <% last_page = (total / per_page).to_i + 1 %>
    <% last_page.times.each do |i| %>

    <% if i + 1 == current_page %>
    <li class="active"><%= link_to(i + 1, "./#") %></li>
    <% else %>
    <li><%= link_to(i+1, "/search?keyword=#{keyword}&page=#{i+1}") %></li>
    <% end %>
    <% end %>
  </ul>
</nav>
